<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956090015702-5lpvgshdnfg2o10d68gpshbg1pf20koq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956090015702-5lpvgshdnfg2o10d68gpshbg1pf20koq</string>
	<key>API_KEY</key>
	<string>AIzaSyBbC_UI0FDKXMlaWa1jggbSdlxj_ZOUoAM</string>
	<key>GCM_SENDER_ID</key>
	<string>956090015702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dannysantoso.gojekClone</string>
	<key>PROJECT_ID</key>
	<string>gojekclonedanny</string>
	<key>STORAGE_BUCKET</key>
	<string>gojekclonedanny.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956090015702:ios:a7f9cc39ad6a15df848e77</string>
	<key>DATABASE_URL</key>
	<string>https://gojekclonedanny.firebaseio.com</string>
</dict>
</plist>